.table {
    display: flex;
    flex-direction: column;
    width: 120rem;
    height: 32rem;
    gap: 1rem;
   
}

.table-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 32rem;
    padding-right: 40rem;
    gap: 2.5rem;
    overflow: hidden;
    
}

.table-titles{
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    width: 80%;
    gap: 11.5rem;
    list-style-type: none;
    padding-left: 7rem;
}

.table-itens {
    display: flex;
    background: #E9E9E9;
    border-radius: 0.6rem;
    width: 118rem;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    
}

.table-itens:hover{
    background-color: #c8c7c7;
}

.data{
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    gap: 2.3rem;
  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    
}

.tools-box{
    display: flex;
    align-items: center;
    margin: 0.7rem;
    margin-right: 1.5rem;
    gap: 0.7rem;
    

}

button-icon-v2 > img{
    height: 2.5rem;
    width: auto;
}

.data > li{
    width: 15ch;
    word-wrap: break-word;
}

.content-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 118rem;
    overflow-y: scroll;
    overflow-x: hidden;
}