.stable-box{
    overflow: scroll;
    padding: 0rem 12rem;
}

.user-content{
    gap: 4rem;
    margin-top: 4rem;
}

.content{
    display: flex;
    gap: 6rem;
}

.session{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.data-session{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.data-0{
    display: flex;
    flex-direction: row;
    gap: 12rem;
}

.part-1{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.part-2{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    width: 60%;
}

.item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3{
    color:  #7ac143;
    font-weight: 500;
}


