main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6rem;
}

.session-info{
    display: flex;
    align-items: center;
    gap: 2rem

}

.line{
    background-color:rgb(56, 55, 55);
    border: solid rgb(56, 55, 55) 2px;
    height: 2rem;
    border-radius: 6px;
}

.head-content{
    display: flex;
    width: 80%;
    margin-top: 6rem;
    justify-content: space-between;
    margin-left: 16rem;
    align-items: center;
    
}

.head-content-left{
    display: flex;
    gap: 5rem;
    align-items: center;
}

.addUser{
    width: 2.5rem;
    height: auto;
}

.body-content{
    display: flex;
    justify-content: center;
}

.table-content{
    width: 120rem;
    height: auto;
}

.table{
    height: 70rem;
}
