.flex-container{
    overflow-x: hidden;
    padding-bottom: 6rem;
}

.username{
    display: flex;
    margin-left: 12rem;
    margin-top: 4rem;
}

.user-content{
    gap: 4rem;
}

.content{
    display: flex;
    padding: 0 12rem;
}

.session{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-session{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.data-0{
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.part-1{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.part-2{
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 60%;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



